html {
  scroll-snap-type: y mandatory;
}
.app_top > h2 {
  text-align: center;
  color: white;
}
.app {
  display: grid;
  place-items: center;
  height: 100vh;
  background-color: black;
}
.app_logo {
  height: 12vh;
}
.app_videos {
  position: relative;
  height: 75vh;
  width: 75%;
  background-color: #fff;
  border-radius: 20px;
  max-width: 400px;
  max-height: 1200px;
  overflow: scroll;
  scroll-snap-type: y mandatory;
}
/* chrome safari opera */
.app_videos::-webkit-scrollbar {
  display: none;
}
/* IE Edge */
.app_videos {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
